
<!--input type="button" (click)="llamaService()" class="btn btn-info" value="Pulsame" > 
<input type="button" (click)="llamaServicePromesa()" class="btn btn-info" value="Pulsame Promesa" --> 

<!-- Centered Pills -->
<nav class="navbar navbar-dark bg-dark">
  <div class="btn-group">
    <button class="btn btn-outline-info mr-sm-2" routerLink="/Principal">Sala de Juegos</button>
  </div>

  <div class="btn-group">
      <button class="btn btn-outline-info mr-sm-2" (click)="llamaService()">Servicio</button>
      <button class="btn btn-outline-info mr-sm-2" (click)="llamaServicePromesa()">Serv Promesa</button>
      <button class="btn btn-outline-info mr-sm-2" (click)="llamaServicePromesa()">Serv observable</button>
  </div>

</nav>
  
<app-listado-de-resultados [listado]="listadoParaCompartir"> </app-listado-de-resultados>

