
<div class="container" >
    

      <!-- -->
      
    <div class="card-deck " >
        <div class="card text-white bg-info mb-3" style="    max-width: 25rem;">
            <div class="card-header"><h4>Velocidad y agilidad aritmética</h4></div>
            <div class="card-body">
              <img class="img-thumbnail"   src="./assets/imagenes/201633.png" alt="Avatar" style="width: 75%;height: 170px;">
              
              <p class="title">Juego de agilidad mental</p>
              <p>UTN FRA </p>
              <div>
                <a href="#" style="color:black; margin-right: 8%;"><i class="fa fa-dribbble"></i></a> 
                <a href="#" style="color:black"><i class="fa fa-twitter"></i></a> 
              </div>
              <div>
                <a href="#" style="color:black;margin-top: 3%; margin-right: 8%; margin-bottom: 3%"><i class="fa fa-linkedin"></i></a> 
                <a href="#" style="color:black"><i class="fa fa-facebook"></i></a> 
              </div>
              <button type="button" style=" width: 100%;margin-top: 6%;" class="btn btn-dark" (click)="Juego('Agilidad')">Jugar</button>
               
          </div>
        </div>

        
        <div class="card text-white bg-info mb-3" style=" margin-left: 2%; max-width: 25rem;">
            <div class="card-header"><h4>Piedra Papel o Tijera</h4></div>
            <div class="card-body">
              <img class="img-thumbnail"   src="./assets/imagenes/piedrapapeltijera1.jpg" alt="Avatar" style="width: 75%;height: 170px;">
              
              <p class="title">Juega contra la máquina</p>
              <p>UTN FRA </p>
              <div>
                <a href="#" style="color:black; margin-right: 8%;"><i class="fa fa-dribbble"></i></a> 
                <a href="#" style="color:black"><i class="fa fa-twitter"></i></a> 
              </div>
              <div>
                <a href="#" style="color:black;margin-top: 3%; margin-right: 8%; margin-bottom: 3%"><i class="fa fa-linkedin"></i></a> 
                <a href="#" style="color:black"><i class="fa fa-facebook"></i></a> 
              </div>
              <button type="button" style=" width: 100%;margin-top: 6%;" class="btn btn-dark" (click)="Juego('PPT')">Jugar</button>
        
          </div>
        </div>
        <div class="card text-white bg-info mb-3" style="     margin-left: 2%;   max-width: 25rem;">
            <div class="card-header"style="padding-bottom: 16%;"><h4>Preguntados</h4></div>
            <div class="card-body">
              <img class="img-thumbnail"   src="./assets/imagenes/preguntados.jpg" alt="Avatar" style="width: 75%;height: 170px;">
              
              <p class="title">Juego de conocimiento</p>
              <p>UTN FRA </p>
              <div>
                <a href="#" style="color:black; margin-right: 8%;"><i class="fa fa-dribbble"></i></a> 
                <a href="#" style="color:black"><i class="fa fa-twitter"></i></a> 
              </div>
              <div>
                <a href="#" style="color:black;margin-top: 3%; margin-right: 8%; margin-bottom: 3%"><i class="fa fa-linkedin"></i></a> 
                <a href="#" style="color:black"><i class="fa fa-facebook"></i></a> 
              </div>
               <button type="button" style=" width: 100%;margin-top: 6%;" class="btn btn-dark" (click)="Juego('Preguntados')">Jugar</button>
             
          </div>
        </div>
        <div class="card text-white bg-info mb-3" style=" margin-left: 2%; max-width: 25rem;">
            <div class="card-header"><h4>Adivina el número secreto</h4></div>
            <div class="card-body">
              <img class="img-thumbnail"   src="./assets/imagenes/adivina-2.png" alt="Avatar" style="width: 75%;height: 170px;">
              
              <p class="title">Juega de estrategia</p>
              <p>UTN FRA </p>
              <div>
                <a href="#" style="color:black; margin-right: 8%;"><i class="fa fa-dribbble"></i></a> 
                <a href="#" style="color:black"><i class="fa fa-twitter"></i></a> 
              </div>
              <div>
                <a href="#" style="color:black;margin-top: 3%; margin-right: 8%; margin-bottom: 3%"><i class="fa fa-linkedin"></i></a> 
                <a href="#" style="color:black"><i class="fa fa-facebook"></i></a> 
              </div>
              <button type="button" style=" width: 100%;margin-top: 6%;" class="btn btn-dark" (click)="Juego('Adivina')">Jugar</button>
             
             
          </div>
        </div>
      
    </div> 
    <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
    <div class="card-deck " >
        
      <div class="card text-white bg-info mb-3" style=" margin-left: 2%; max-width: 25rem;">
        <div class="card-header"><h4>Anagrama</h4></div>
        <div class="card-body">
          <img class="img-thumbnail"   src="./assets/imagenes/anagrama.jpg" alt="Avatar" style="width: 75%;height: 170px;">
          
          <p class="title">Juega de velocidad mental</p>
          <p>UTN FRA </p>
          <div>
            <a href="#" style="color:black; margin-right: 8%;"><i class="fa fa-dribbble"></i></a> 
            <a href="#" style="color:black"><i class="fa fa-twitter"></i></a> 
          </div>
          <div>
            <a href="#" style="color:black;margin-top: 3%; margin-right: 8%; margin-bottom: 3%"><i class="fa fa-linkedin"></i></a> 
            <a href="#" style="color:black"><i class="fa fa-facebook"></i></a> 
          </div>
          <button type="button" style=" width: 100%;margin-top: 6%;" class="btn btn-dark" (click)="Juego('Anagrama')">Jugar</button>
         
         
      </div>
    </div>
        
       
    </div>
    <div class="card-deck " >
      <!--  <div class="card">
            <img  class="img-thumbnail"  src="./assets/imagenes/preguntados.jpg" alt="Avatar" style="width:100%">
            <h1>Pregunta2</h1>
            <p class="title">Juego de conocimiento</p>
            <p>UTN FRA </p>
            
            <div>
                <a href="#" style=" margin-right: 8%;"><i class="fa fa-dribbble"></i></a> 
                <a href="#"><i class="fa fa-twitter"></i></a> 
              </div>
              <div>
                <a href="#" style="margin-top: 3%; margin-right: 8%; margin-bottom: 3%"><i class="fa fa-linkedin"></i></a> 
                <a href="#" ><i class="fa fa-facebook"></i></a> 
              </div>
              <div>         
              
              <button class="button"  (click)="Juego('Preguntados')">Jugar</button></div> 
          </div>-->
       <!-- <div class="card">
            <img  class="img-thumbnail"  src="./assets/imagenes/adivina-2.png" alt="Avatar" style="width:100%">
            <h1>Adivina el número secreto</h1>
            <p class="title">Juega de estrategia</p>
            <p>UTN FRA </p>
            
            <div>
                <a href="#" style=" margin-right: 8%;"><i class="fa fa-dribbble"></i></a> 
                <a href="#"><i class="fa fa-twitter"></i></a> 
              </div>
              <div>
                <a href="#" style="margin-top: 3%; margin-right: 8%; margin-bottom: 3%"><i class="fa fa-linkedin"></i></a> 
                <a href="#" ><i class="fa fa-facebook"></i></a> 
              </div>
            <p>           
              <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
          </div>-->

  <!--    <div class="card ">
        <img class="img-thumbnail"   src="./assets/imagenes/201633.png" alt="Avatar" style="width:100%">
        Velocidad y agilidad aritmética </h1>
        <p class="title">Juego de agilidad mental</p>
        <p>UTN FRA </p>
          <div>
            <a href="#" style=" margin-right: 8%;"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a> 
          </div>
          <div>
            <a href="#" style="margin-top: 3%; margin-right: 8%; margin-bottom: 3%"><i class="fa fa-linkedin"></i></a> 
            <a href="#" ><i class="fa fa-facebook"></i></a> 
          </div>
        <p>          
          <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
      
      </div>-->
    
    <!--  <div class="card">
        <img class="img-thumbnail" src="./assets/imagenes/piedrapapeltijera1.jpg" alt="Avatar" style="width:100%">
        <h1>Piedra Papel o Tijera</h1>
        <p class="title">Juega contra la máquina</p>
        <p>UTN FRA </p>
        
        <div>
            <a href="#" style=" margin-right: 8%;"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a> 
          </div>
          <div>
            <a href="#" style="margin-top: 3%; margin-right: 8%; margin-bottom: 3%"><i class="fa fa-linkedin"></i></a> 
            <a href="#" ><i class="fa fa-facebook"></i></a> 
          </div>
        <p>          
          <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
      </div>-->

      
     

     

    </div>
  </div>