<div class="card text-white bg-info mb-3 cardPrimaria" >
  <div class="card-header"><h4>Anagrama</h4></div>
  <div class="card-body" style="    padding-bottom: 380px;">
    
    <p class="title">Juego de agilidad mental</p>
    <p>UTN FRA </p>
   
    <div  class="iniciar animated zoomInDown ">            
      <button pButton type="button" [hidden]="iniciar" (click)="Iniciar()" label="Iniciar"  class="ui-button-info button-principal "></button>
      

    </div> 

     <div [hidden]="mostrarPalabra">
       <h1 style="color:black">{{elejida}}</h1 >   
        <button [hidden]="reordenar" pButton type="button" (click)="DesordenarPalabra()" label="Reordenar Palabra" class="ui-button-info"></button>
     
       <div>
        
        <div class="form-group">
          <label for="usr">Palabra:</label>
          <input type="text" [(ngModel)]="resp" class="form-control" id="usr">
        </div>
      </div>   
      <button pButton type="button" (click)="Verificar()" label="Verificar" class="ui-button-success"></button>
      <button pButton type="button" (click)="Rechazar()" label="Menu principal"  class="ui-button-danger"></button>   
      <br>
      <label for="">Intentos restantes {{intentos}}</label>
     </div>

     <div [hidden]="perdio" >
      <h2 >Perdiste!!!</h2>
      <button pButton type="button" (click)="JuegoNuenvo()" label="Juego Nuevo" class="ui-button-success"></button>
      <button pButton type="button" (click)="Rechazar()" label="Menu principal"  class="ui-button-danger"></button>   
     
     </div>
    
     <div [hidden]="gano"> 
       <h2>Ganaste!!!</h2>
       <button pButton type="button" (click)="JuegoNuenvo()" label="Juego Nuevo" class="ui-button-success"></button>
       <button pButton type="button" (click)="Rechazar()" label="Menu principal"  class="ui-button-danger"></button>   
      
     </div>
    

</div>
</div>
